*{margin:0;padding:0;}
body{font-size:12px;font-family:"微软雅黑";color:#666;}
img{border:0;}
a{
	color: #666;
	text-decoration: none;
}
a:hover{
	color: cornflowerblue;
}
ul, li{
	list-style: none;
}

.header{
	width: 100%;
	height: 96px;
	background-color: rgba(255, 255, 255, 0.8);
	position: fixed;
	top: 0;
	left: 0;
}
.h_nav{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.h_nav .logo{
	width: 260px;
	text-align: right;
	font-size: 22px;
	font-weight: bold;
}
.h_nav ul{
	width: 100%;
	height: 66px;
	line-height: 66px;
	display: flex;
	align-items: center;
}
.h_nav ul li{
	width: 100px;
	text-align: center;
	font-size: 14px;
	color: #666;
}
.h_nav ul li.logo{
	float: right;
}

.banner{
	width: 100%;
	height: 650px;
	background: url(../image/banner.png) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;
}
.banner-tips{
	width: 800px;
	margin: 239px auto 0;
	text-align: center;
}
.banner-tips h1{
	width: 100%;
	text-align: center;
	font-size: 72px;
}
.banner-tips p{
	width: 100%;
	text-align: center;
	font-size: 38px;
}

.fw{
	width: 1000px;
	padding: 100px 0;
	margin: 0 auto;
}
.fw ul{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.fw ul .names em{
	display: block;
	width: 60px;
	height: 4px;
	background-color: #3648d0;
	margin-bottom: 50px;
}
.fw ul .names p{
	font-size: 36px;
	font-weight: 600;
	color: #333;
}
.fw ul li, .fw ul .names{
	width: 300px;
	margin-bottom: 60px;
}
.fw ul li img{
	width: 100%;
}
.fw ul li p{
	width: 100%;
	text-align: center;
	font-size: 26px;
	color: #333;
}

.ch{
	width: 100%;
	min-height: 500px;
	background: url(../image/bg.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.chb{
	width: 1000px;
	padding: 100px 0;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.chb .names{

}
.chb .names em{
	display: block;
	width: 60px;
	height: 4px;
	background-color: #fff;
	margin-bottom: 50px;
}
.chb .names p{
	font-size: 36px;
	font-weight: 600;
	color: #fff;
}
.chb ul{
	width: 500px;
}
.chb ul li{
	width: 100%;
	height: 150px;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 0 30px;
	box-sizing: border-box;
	overflow: hidden;
}
.chb ul li:first-child{
	margin-bottom: 60px;
}
.chb ul li h2{
	font-size: 36px;
	margin-top: 20px;
}
.chb ul li p{
	font-size: 22px;
	margin-top: 26px;
}

.txt{
	width: 100%;
	padding: 120px 0;
	background-color: #f7f6f9;
}
.txt .til{
	width: 930px;
	text-align: center;
	margin: 0 auto 60px;
	font-size: 30px;
	font-weight: bold;
	color: #333;
}
.txt p{
	width: 930px;
	margin: 0 auto 20px;
	font-size: 18px;
	line-height: 30px;
	color: #333;
}

.copyright{
	background:#eeeff3;
	width: 100%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 14px;
}


/*================================
<--  itpro Nav Menu Area Css -->
==================================*/
.itpro_nav_manu {
	/* background: transparent; */
	background: #EFEDED;
	transition: .5s;
	z-index: 2;
	position: relative;
	padding: 0 100px;
	margin-bottom: -88px;
}

.itpro_nav_manu .sticky .row.btm-bg {
	border-bottom: none;
}

.itpro_nav_manu.transparent_menu {
	background: transparent;
	margin-bottom: -87px;
	position: relative;
}

.sticky {
	left: 0;
	margin: auto;
	position: fixed !important;
	top: 0;
	width: 100%;
	-webkit-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
	/* background: #858EC4 !important; */
	background: #EFEDED;
	transition: .5s;
	z-index: 9;
	color: #333;
}

.sticky .logo{
	text-align: center;
}

/* itpro Menu Css*/
nav.itpro_menu {
	text-align: right;
	margin-right: 80px;
}

.itpro_menu ul {
	list-style: none;
	display: inline-block;
}

.itpro_menu>ul>li {
	display: inline-block;
	position: relative;
	z-index: 1;
}

.itpro_menu>ul>li>a {
	display: block;
	margin: 30px 10px;
	-webkit-transition: .5s;
	transition: .5s;
	/* color: #fff; */
	color: #333333;
	font-family: 'Fira Sans';
	font-weight: 400;
}
.itpro_menu>ul>li>a.download-button {
	width: 96px;
	height: 36px;
	line-height: 36px;
	background: linear-gradient(-30deg,  rgba(103,116,183,0.82),rgba(243,159,149,0.82));
	border-radius: 6px;

	font-family: Microsoft YaHei;
	font-weight: 400;
	font-size: 14px;
	color: #333333;

	text-align: center;
}



nav.itpro_menu span {
	font-size: 14px;
	padding-left: 6px;
	font-family: FontAwesome;
	opacity: .5;
}

.itpro_menu>ul>li>a:hover {
	color: #EF888C;
}

/*menu button*/
.header-button {
	display: inline-block;
	padding-left: 32px;
}

.header-button a {
	padding: 12px 35px;
	color: #fff;
	display: inline-block;
	position: relative;
	z-index: 1;
	transition: .5s;
	border: 1px solid #FF6117;
	background: #FF6117;
	border-radius: 5px;
}

.header-button a::before {
	position: absolute;
	content: "";
	z-index: -1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: 5px;
	background: #fff;
	transform: scale(0);
	transition: .5s;
}

.header-button a:hover {
	color: #FF6117;
	border: 1px solid #fff;
}

.header-button a:hover::before {
	transform: scale(1);
}

/*** Sub Menu Style ***/
.itpro_menu ul .sub-menu {
	position: absolute;
	left: 0;
	top: 100%;
	width: 217px;
	text-align: left;
	background: #fff;
	margin: 0;
	z-index: 1;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	transition: .5s;
	visibility: hidden;
	border-top:none;
	opacity: 0;
	border-radius: 10px;
}

.itpro_menu ul li:hover>.sub-menu {
	visibility: visible;
	top: 100%;
	opacity: 1;
}

.itpro_menu ul .sub-menu li {
	position: relative;
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: 15px center;
	padding-left: 30px;
}

.itpro_menu ul .sub-menu .sub-menu-about {
	background-image: url('../image/home_icon_about@2x.png');
}
.itpro_menu ul .sub-menu .sub-menu-price {
	background-image: url('../image/home_icon_price@2x.png');
}
.itpro_menu ul .sub-menu .sub-menu-service {
	background-image: url('../image/home_icon_service@2x.png');
}
.itpro_menu ul .sub-menu .sub-menu-service-detail {
	background-image: url('../image/icon_service detail@2x.png');
}
.itpro_menu ul .sub-menu .sub-menu-blog_grid {
	background-image: url('../image/icon_blog_drid@2x.png');
}
.itpro_menu ul .sub-menu .sub-menu-blog_list {
	background-image: url('../image/icon_blog_list @2x.png');
}
.itpro_menu ul .sub-menu .sub-menu-team {
	background-image: url('../image/home_icon_team@2x.png');
}



.itpro_menu ul .sub-menu li a {
	display: block;
	padding: 12px 20px;
	margin: 0;
	line-height: 1.3;
	letter-spacing: normal;
	font-size: 16px;
	font-family: 'Fira Sans';
	font-weight: 400;
	text-transform: capitalize;
	-webkit-transition: .1s;
	transition: .1s;
	visibility: inherit !important;
	color: #211e3b !important;
}

.itpro_menu ul .sub-menu li:hover>a,
.itpro_menu ul .sub-menu .sub-menu li:hover>a,
.itpro_menu ul .sub-menu .sub-menu .sub-menu li:hover>a,
.itpro_menu ul .sub-menu .sub-menu .sub-menu .sub-menu li:hover>a {
	background: linear-gradient(-30deg, rgba(243,159,149,0.82) 25.1953125%, rgba(103,116,183,0.82) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent; /* 对于不支持背景裁剪的浏览器 */
}


/* sub menu 2 */
.itpro_menu ul .sub-menu .sub-menu {
	left: 100%;
	top: 130%;
	opacity: 0;
	visibility: hidden;
}

.itpro_menu ul .sub-menu li:hover>.sub-menu {
	opacity: 1;
	visibility: visible;
	top: 0%;
}

/* sub menu 3 */
.itpro_menu ul .sub-menu .sub-menu li {
	position: relative;
}

.itpro_menu ul .sub-menu .sub-menu .sub-menu {
	right: 100%;
	left: auto;
	top: 130%;
	opacity: 0;
	visibility: hidden;
}

.itpro_menu ul .sub-menu .sub-menu li:hover>.sub-menu {
	opacity: 1;
	visibility: visible;
	top: 0%;
}

ul.sub-menu li a span {
	background: #EF888C;
	padding: 5px 10px;
	color: #fff;
	opacity: 1;
	font-family: 'Fira Sans';
	border-radius: 2px;
	margin-left: 5px;
	transition: .5s;
}

ul.sub-menu li:hover a span{
	background: rgba(255,255,255, 0.20);
}

/* sub menu 4 */
.itpro_menu ul .sub-menu .sub-menu .sub-menu li {
	position: relative;
}


.itpro_menu ul .sub-menu .sub-menu .sub-menu li:hover>.sub-menu {
	opacity: 1;
	visibility: visible;
	top: 0%;
}

.itpro_menu li a:hover:before {
	width: 101%;
}

.itpro_nav_manu.sticky .logo_img {
	display: none;
}

.main_sticky {
	display: none;
}
.main_sticky img{
	width: 90px;
}

.itpro_nav_manu.sticky .main_sticky {
	display: inherit;
}

.sticky .itpro_menu li a {
	color: #333;
	font-weight: bold;
}

.itpro_nav_manu.sticky a.dtbtn {
	color: #fff;
	background: #F16722;
	border: 2px solid #F16722;
}

.itpro_nav_manu.sticky a.dtbtn:hover {
	color: #43baff;
}

.mobile-menu.mean-container {
	overflow: hidden;
}




/**======================================================
<--  why_choose_us_area  css -->
======================================================**/

.why_choose_us_area {
	padding: 140px 0 0px;
	position: relative;
	z-index: 1;
}

.why_choose_us_area .choose_us_icon_list ul li {
	display: block;
	list-style: none;
	margin: 0 0 10px;
	color: #040B1E;
}

.why_choose_us_area .choose_us_icon_list ul li i {
	display: inline-block;
	font-size: 20px;
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	background: linear-gradient(-30deg, #F39F95 25.1953125%, #6774B7 100%);
	color: #fff;
	border-radius: 50%;
	margin: 0 9px 0 0;
	padding: 0 0;
}
.why_choose_us_area .choose_us_icon_list ul li i::before {
	line-height: 1;
}
.why_choose_us_area .single_choose_box {
	text-align: center;
	position: relative;
	z-index: 1;
	transition: .5s;
	background: #EFF6FE;
	padding: 40px 30px 40px;
	margin-bottom: 30px;
	border-radius: 10px;
}

.why_choose_us_area .single_choose_box::before {
	position: absolute;
	top: 0;
	left: 0;
	height: 0%;
	width: 100%;
	content: "";
	background: #FEF3EF;
	z-index: -1;
	transition: .5s;
	border-radius: 10px;
}

.why_choose_us_area .single_choose_box.upper {
	margin-top: -25px;
}

.why_choose_us_area .choose_us_title h3 {
	font-size: 19px;
	line-height: 26px;
	color: #050a1e;
	font-weight: 500;
	margin: 20px 0 0;
	text-align: center;
}

.why_choose_us_area .choose_us_shap {
	position: absolute;
	top: 0;
	right: 0%;
}

.choose_us_shap img{
	width: 350px;
}

.why_choose_us_area .single_choose_box:hover::before{
	height: 100%;
}

.section_description p {
	font-size: 16px;
	line-height: 26px;
	color: #686868;
	font-weight: 400;
	margin: 20px 0 25px;
}
